html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    background-color: burlywood;
}
.wrapper {
    width: 70%;
    background-color: white;
    min-height: 600px;
    margin: 20px auto;
    padding: 40px 70px;
}
header {
    display: flex;
    flex-wrap: wrap;
    border: 1px dotted black;
    padding: 10px;
    justify-content: space-around;
    align-items: center;
}
p {
    text-align: justify;
}
footer {
    width: 100%;
    min-height: 40px;
    border: 1px dotted black;
    text-align: right;
}
a {
    text-decoration: none;
}
a:hover {
    background-color: paleturquoise;
}
